@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
  margin:0;
  padding: 0;
}
p{
  text-align: center;
}
body{
  background:url('./images/onlineimage.jpg') center center/cover;
  position: relative;
  }
  #overlay{
    position: absolute;
    width: 100%;
  height: 100vh;
  

    background-color: rgba(7, 5, 5, 0.6);
  }
#stephenform {
  font-family: "poppins", sans-serif;
  font-size: 20px;
  align-items: center;
  }

a {
  text-decoration: none;
  color: red;
}
a:hover{
  color: blue;
}
#container {
  margin: auto;
  max-width:900px ;}

.form-wrap {
  line-height: 1.2;
  margin-top: 120px;
  background: #fff;
  padding: 5px 20px;
  color: black;
  border-radius: 20px;
}
.form-wrap h1{
  font-weight: 450;
  font-size: 30px;
}

.form-wrap h1,
.form-wrap p {
  text-align: center;
}

.form-wrap .form-group {
  margin-top: 5px;
}

.form-wrap .form-group label {
  margin-left: 10px;
  display: block;
  color: black;

}
.form-wrap .form-group input {
  width: 90%;
  height: 35px;
  padding: 10px;
  border: black 1px solid;
  border-radius: 5px;
  font-size: 25px;
  margin-left: 5px;
}
.form-wrap button {
  display: block;
  width: 50%;
  font-weight: bold;
  font-size: 20px;
  margin: auto;
  margin-top: 10px;
  background: black;
  color: #fff;
  cursor: pointer;
  box-shadow:5px 5px 5px black;
  transition: all 0.3s ease-in;
  border-radius: 10px;
}
.form-wrap button:hover {
  background: white;
  color: black;
}

.form-wrap .bottom-text {
  font-size: 20px;
  margin-top: 5px;
}

footer {
  text-align: center;
  margin-top: 2px;
}

footer a {
  color:rgba(3, 51, 90, 0.877)
}
footer a:hover{
  color: BLUe;
}
.form-wrap{
  transform: translateX(-1500px);
  animation: heading 0.5s forwards ease-in;
}
@keyframes heading {
  to {
    transform: translatex(0);
  }}
  #specialtext{
    color: red;
  }
  .media-wrapper svg{
    width: 90px;
    height: 30px;
    transition: 0.5s;
    margin-left: 10px;
    align-items: center;
    padding-top: 2px;
}
.media-wrapper svg:first-child{
  fill:rgb(10, 235, 59);
}
.media-wrapper svg:nth-child(2){
  fill: rgb(23, 106, 214);
}
.media-wrapper svg:last-child{
  fill: rgb(38, 22, 177);
}

