#container{
align-content: center;
max-width: 80%;
}
#stephenform {
    font-family: 'Raleway', sans-serif;
    line-height: 1.4;
    font-size: 25px;
  }
  .media-wrapper svg{
    width: 50px;
    height: 40px;
    transition: 0.5s;
    margin-right: 10px;
    align-items: center;
    padding-top: 2px;
}
.media-wrapper svg:first-child{
  fill:rgb(10, 235, 59);
}
.media-wrapper svg:nth-child(2){
  fill: rgb(23, 106, 214);
}
.media-wrapper svg:last-child{
  fill: rgb(38, 22, 177);
}